*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img,
button {
  display: block;
}

.section-main {
  padding: 100px 0 48px 0;
}

.main-title-orange {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 1.14286;
  color: #a76e00;
  padding: 8px;
}

.main-title-white {
  font-weight: 500;
  font-size: 56px;
  line-height: 1.14;
  color: #fdfdfd;
  padding: 8px;
}

.header {
  padding-top: 16px;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  max-width: 1130px;
  border-bottom: 2px solid #979797;
}

.header-top-list-icons,
.contact-info,
.header-top-list-user {
  display: flex;
  align-items: center;
  height: 61px;
}
.header {
  background-image: url(../img/party.jpg);
  min-height: 844px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #101010;
  opacity: 0.8;
  z-index: 1;
}

.header .container {
  position: relative;
  z-index: 2;
}

.header-top-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: #a76e00;
}

.header-user-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #a76e00;
}

.header-top-list-icons {
  margin-right: 128px;
  align-items: flex-start;
  gap: 8px;
}

.contact-info {
  gap: 128px;
  flex-grow: 1;
  align-items: flex-start;
}

.header-top-item {
}

.header-navigation {
  display: flex;
  align-items: center;
  align-items: flex-start;
}

.hz {
  margin-left: auto;
  max-width: 1130px;
  width: 100%;
  display: flex;
  gap: 32px;
  margin-top: 17px;
}

.logo {
  font-weight: 800;
  font-size: 64px;
  line-height: 1.25;
  color: #da9d27;
}
.header-bot-list {
  display: flex;
  width: 925px;
  justify-content: space-between;
}

.header-bot-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #a76e00;
}

.input-user {
  border-radius: 4px;
  width: 174px;
  height: 40px;
  padding: 8px;
  background-color: transparent;
  border: 1px solid #979797;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #979797;
}

.search-wrapper {
  position: relative;
}

.icon-user {
  position: absolute;
  top: 8px;
  right: 8px;
}

.header-hero {
  max-width: 900px;
  margin-left: auto;
  padding-top: 80px;
}

.header-title {
  font-weight: 500;
  font-size: 68px;
  line-height: 1.32;
  color: #fdfdfd;
  margin-bottom: 32px;
  font-family: "Montserrat Alternates", sans-serif;
}

.text-and-btn {
  position: relative;
}

.header-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.28;
  color: #979797;
}

.header-btn {
  border: none;
  border-bottom: 1px solid #3d3c39;
  border-radius: 4px;
  padding: 10px 16px;
  width: 240px;
  height: 42px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #04867e;
  bottom: 0;
  right: 0;
  position: absolute;
}

/* --------------------------------------- */
.section-company {
}
.container-company {
  padding-top: 80px;
  padding-bottom: 48px;
  display: flex;
}
.about-company {
  display: flex;
  flex-direction: column;
  max-width: 786px;
  margin-left: 20px;
}
.img-dance {
  width: 210px;
  height: 210px;
}
.company-title {
  margin-bottom: 16px;
}

.company-text-subt {
  max-width: 786px;
  position: relative;
  padding-left: 115px;
}

.company-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #3d3c39;
}

.about-company .company-text::before {
  content: "";
  border: 2px solid #a76e00;
  width: 95px;
  height: 0px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.company-btn {
  border: none;
  border-bottom: 1px solid #3d3c39;
  border-radius: 4px;
  padding: 10px 16px;
  width: 240px;
  height: 42px;
  margin-left: auto;
  background-color: #fdfdfd;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #04867e;
}
.second-company {
  padding-top: 38px;
  display: flex;
  flex-direction: column;
}

.second-company .company-text {
  margin-bottom: 32px;
}
.btn-chat {
  border: 1px solid #3d3c39;
  border-radius: 4px;
  padding: 10px 43px;
  margin-left: auto;
  width: 240px;
  height: 42px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #04867e;
}

/* ------------------------------------------- */

.section-meet {
  background: #979797;
  padding: 100px 0 113px 0;
}

.container-meet {
  width: 100%;
  margin: 0 auto;
}
.meet-title {
  margin-bottom: 40px;
  position: relative;
}

.meet-title::after {
  content: "";
  border: 2px solid #fdfdfd;
  max-width: 382px;
  width: 100%;
  height: 0;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.meet-list {
  display: flex;
  gap: 20px;
}
.meet-item {
  border: 1px solid #fdfdfd;
  border-radius: 8px;
  padding: 8px 8px 8px 24px;
  background: #f8f1e9;
  flex-basis: calc((100% - 20px * 3) / 4);
}
.meet-subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.28;
  color: #a76e00;
}
.meet-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #3d3c39;
}

/* ------------------------------------------------ */

.section-images {
  padding: 100px 0 46px 0;
}

.container-images {
}
.images-title {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 32px;
}
.images-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  border: 2px solid #a76e00;
  width: 433px;
}
.images-wrapp {
  position: relative;
  max-width: 1124px;
  height: 620px;
  margin: auto;
}
.images-flowers {
  position: absolute;
  left: 0;
  top: 0;
}
.images-flowers-big {
  position: absolute;
  bottom: 0;
  right: 0;
}
.images-botls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.images-btn {
  margin: 0;
}

/* ----------------------------------- */

.section-service {
  background: #979797;
}

.service-title {
  position: relative;
  margin-bottom: 24px;
}

.service-title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  border: 2px solid #fdfdfd;
  width: 913px;
  height: 0px;
}

.service-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.service-item {
  background: #f8f1e9;
  flex-basis: calc((100% - 50px) / 2);
  gap: 8px;
  position: relative;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
}

.service-item .service-text:nth-child(1) {
  margin-bottom: 8px;
}
.service-item .service-text:nth-child(2)::before {
  content: "";
  position: absolute;
  border: 2px solid #a76e00;
  width: 88px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.service-item .service-text:nth-child(2) {
  padding-left: 108px;
  position: relative;
  margin-bottom: 8px;
}
.service-item .service-text:nth-child(3) {
  justify-content: flex-end;
  position: relative;
  margin-bottom: 8px;
}

.service-item .service-text:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  border: 2px solid #a76e00;
  width: 176px;
  transform: translateY(-50%);
}

.service-item .service-text:nth-child(4) {
  padding-left: 287px;
  position: relative;
}

.service-item .service-text:nth-child(4)::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #a76e00;
  width: 264px;
}

.service-item .service-text-two:nth-child(1) {
  padding-left: 25px;
  margin-bottom: 8px;
  position: relative;
}

.service-item .service-text-two:nth-child(1)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #a76e00;
  width: 440px;
}

.service-item .service-text-two:nth-child(2)::after {
  content: "";
  position: absolute;
  border: 2px solid #a76e00;
  width: 382px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.service-item .service-text-two:nth-child(2) {
  position: relative;
  margin-bottom: 8px;
}
.service-item .service-text-two:nth-child(3) {
  padding-left: 128px;
  position: relative;
  margin-bottom: 8px;
}

.service-item .service-text-two:nth-child(3)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  border: 2px solid #a76e00;
  width: 98px;
  transform: translateY(-50%);
}

.service-item .service-text-two:nth-child(4) {
  justify-content: flex-end;
  position: relative;
}

.service-text,
.service-text-two {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.29;
  color: #3d3c39;
  min-height: 52px;
  display: flex;
  align-items: center;
}
.service-btn {
  border: none;
  border-bottom: 1px solid #3d3c39;
  border-radius: 4px;
  padding: 10px 16px;
  width: 240px;
  height: 42px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #04867e;
  margin: 0 auto;
}

/* ---------------------------- */

.keys-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  padding: 8px;
}
.keys-title-one {
  display: block;
}
.keys-title-two {
  display: flex;
  justify-content: flex-end;
}
.keys-container {
  display: flex;
}
.keys-container-text {
  padding: 8px;
  max-width: 553px;
}
.keys-subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.29;
  color: #da9d27;
  margin-bottom: 24px;
}
.keys-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #3d3c39;
}

.keys-text-top {
  margin-bottom: 32px;
}

.keys-text-bot {
  margin-bottom: 32px;
}
.company-btn {
}
.keys-img {
  margin-left: auto;
  border: 2px solid #f8f1e9;
  border-radius: 8px;
  width: 670px;
  height: 420px;
}

/* ------------------------------- */

.section-video {
  background: #979797;
}

.video-wrapp {
  max-width: 1200px;
  background: #f8f1e9;
  border: 2px solid #f8f1e9;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  padding: 16px 0 22px 0;
  flex-direction: column;
  margin-bottom: 24px;
}
.video-title {
  color: #f8f1e9;
  padding: 8px;
  position: relative;
  margin-bottom: 24px;
}

.video-title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: 2px solid #f8f1e9;
  min-width: 981px;
}

.video-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: #3e1063;
  text-align: center;
  margin-bottom: 24px;
}

.video-img {
  border: 2px solid #f8f1e9;
  border-radius: 8px;
  width: 664px;
  height: 400px;
  margin: 0 auto;
}

/* ------------------------------------------------- */

.section-news {
  padding-bottom: 200px;
}

.news-title {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  position: relative;
  margin-bottom: 16px;
}

.news-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50%;
  border: 2px solid #a76e00;
  max-width: 798px;
  width: 100%;
}

.news-list {
  display: flex;
  gap: 23px;
  margin-bottom: 24px;
}
.new-item {
  flex-basis: calc((100% - 46px) / 3);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.news-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #3e1063;
}
.news-img {
  border-radius: 8px;
  width: 438px;
  height: 220px;
}
.news-subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.29;
  color: #da9d27;
}

.news-btn {
}

/* ----------------------------------------- */

.footer {
  padding-top: 64px;
  background: #16392d;
}
.container {
}
.container-footer {
}

.footer-wrapp {
  display: flex;
  justify-content: space-between;
}

.footer-logo-wrapp {
  min-width: 163px;
  max-height: 96px;
  margin-right: auto;
}
.footer-logo {
  font-weight: 800;
  font-size: 64px;
  line-height: 1.25;
  color: #da9d27;
  font-family: "Nunito", sans-serif;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-logo-text {
  font-weight: 600;
  font-size: 10px;
  color: #da9d27;
  font-family: "Nunito", sans-serif;
  width: 163px;
}
.footer-list-wrapp {
  margin-left: auto;
  /* width: 1070px; */
  display: flex;
  gap: 40px;
  width: 1070px;
}
.list-bcd,
.list-plan,
.footer-list-service,
.list-contacts {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.item-bcd-title,
.item-plan-title,
.item-service-title,
.item-contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #979797;
  padding: 8px;
}

.item-plan-text,
.item-bcd-text,
.item-service-text,
.item-contacts-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  color: #979797;
}

.item-plan-text,
.item-service-text,
.item-contacts-text {
  padding: 4px 8px;
}

.list-bcd {
  min-width: 256px;
}

.item-bcd-text {
  padding: 8px;
  margin-bottom: 40px;
  box-sizing: content-box !important;
}
.item-bcd-btn {
  border: 1px solid #da9d27;
  border-radius: 4px;
  padding: 10px 8px;
  width: 240px;
  height: 42px;
  background: #fdfdfd;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #a76e00;
}
.list-plan {
  min-width: 184px;
}
.item-plan {
}

.item-plan-title {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.33333;
  font-weight: 700;
  font-size: 18px;
  max-width: 167px;
}
.item-plan-text {
}
.footer-list-service {
  min-width: 243px;
}
.footer-item-service {
}
.item-service-text {
}
.list-contacts {
  min-width: 267px;
}
.item-contacts {
}
.item-contacts-text {
}
.footer-code-wrapp {
}
.footer-code {
}
.bottom-wrapp {
}
.bottom-list-left {
}
.bottom-item-left {
}
.bottom-text-left {
}
.bottom-list-right {
}
.bottom-item-rigth {
}
.bottom-text-right {
}
